.App-header {
  text-align: center;
  background-color: #bb9977;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}
.topPart{
  height: 40%;
}
.quote {
  color: #bb9977;
}
.bottomPart{
  display:flex;
  flex-direction: row-reverse;
}
.author {
  color: #bb9977;
}
.frameBox {
  width: 43%;
  background-color: #ffffff;
}

.maksimpetrushin{
  font-size: 20px;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
