.App-header {
  text-align: center;
  background-color: #bb9977;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 30px;
  color: white;
}
.topPart{
  padding: 30px;
}

.topPart{
  height: 40%;
}
.quote {
  color: #bb9977;
}
.bottomPart{
  display:flex;
  flex-direction: row-reverse;
}
.author {
  color: #bb9977;
}
.frameBox {
  width: 43%;
  background-color: #ffffff;
}

.maksimpetrushin{
  font-size: 20px;
}

